h2{
  color: purple;
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
}

p{
  font-family: 'Open Sans', sans-serif ;
  color: rgb(126, 125, 125);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

p1{
  font-family: 'Open Sans', sans-serif ;
  font-size: 18px;
  font-weight: bold;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.container{
  padding: 10px;
}

.experienceLeft{
  margin-left: 35%;
  text-align: left;
}

.experienceRight{
  text-align: left;
  color: #434242;
}

.educationRight{
  text-align: left;
  color: rgb(126, 125, 125);
}

.important{
  font-weight: bold;
}

.jumbotron {
  background-image:url('images/me.png');
  background-size: cover; 
  height: 100vh;
  width: 100%;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  border: 2px solid black; 
}

.line{
  font-size: 10px;
}

.LI-profile-badge{
  margin-left: 25%;
}

.title1{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: purple;
  -webkit-text-stroke-width: 1.00px; 
}

.title2{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: purple;
  -webkit-text-stroke-width: 1.00px; 
}

#aboutMe, #experiences{
  font-size: 54px;
  font-weight: 300;
}

#aboutMeSub{
  text-align: center;
  font-size: 22px;
}

#codingPic{
  height: 500px;
}

#grayContainer{
  background-color: lightgray;
}

#interests{
margin-left:10%;
margin-right: 10%;
}
