.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: purple;
}

.content {
  margin-top: 20px;
}

.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu a, .menu a:visited {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left:40px;
}

.menu-items {
  display: inline-block;
}

.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}


h2{
  color: purple;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif ;
  color: rgb(126, 125, 125);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}


p1{
  font-family: 'Open Sans', sans-serif ;
  font-size: 18px;
  font-weight: bold;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.experienceLeft{
  margin-left: 20%;
  text-align: left;
}

.experienceRight{
  text-align: left;
  color: #434242;
}

.educationRight{
  text-align: left;
  color: rgb(126, 125, 125);
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Icons */
.fa-twitter, .fa-envelope, .fa-linkedin, .fa-sticky-note {
  color: lightgray;
}

.important{
  font-weight: bold;
}

.jumbotron {
  background-image:url('images/me.png');
  background-size: cover; 
  height: 100vh;
  width: 100%;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  border: 2px solid black; 
}

.line{
  font-size: 10px;
}

.LI-profile-badge{
  margin-left: 25%;
}

.skillsLeft{
  text-align: center;
  color: #434242;
}

.title1{
  font-size: 46px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: purple;
  -webkit-text-stroke-width: 1.00px; 
}

.title2{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: purple;
  -webkit-text-stroke-width: 0.75px; 
}

.username{
  color: lightgray;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif ;
  font-weight: 300;
}

#aboutMe, .experiences, #contact{
  font-size: 54px;
  font-weight: 300;
}

#aboutMeSub{
  text-align: center;
  font-size: 22px;
}

#codingPic{
  margin-left: 5%;
  width: 300px;
  height: 425px;
}

#contact{
  color: white;
}

#contactLeft{
  margin-left: 15%;
}

#contactRight{
  text-align: left;
}

#darkGrayContainer{
  background-color: #434242;
}

#grayContainer{
  background-color: lightgray;
}

#interests{
margin-left:10%;
margin-right: 10%;
}

#linkedinPic{
  margin-left: 25%;
  margin-right: 25%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

